<!-- <p>
  forgot-password works!
</p> -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Modal
    </ion-title>
    <ion-button (click)="dismissModal()" slot="end">close</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-content>
    <form [formGroup]='forgotepasswordForm'>
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div>
              <ion-item>
                <ion-input type="email" placeholder="Enter your email" required formControlName="emailId"></ion-input>
              </ion-item>
            </div>
            <div>
                <ion-button size="large" type="submit" expand="block"  [disabled]=' isDisable || forgotepasswordForm.invalid' (click)="forgotPassword(forgotepasswordForm)"
                >Submit</ion-button>
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content> 